<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/landing.css">
    <title>Resident Management</title>
</head>

<body>

    <header class="header">
        <div class="content">
            <div class="logo-box">
                <p class="logo-box__title mb-5">Quản Lý Cư Trú 4.0</p>
                <p class="logo-box__subtitle">Bạn là ai ?</p>
                <a href="#" class="btn btn-lg btn-outline-success">Cán Bộ Quản Lý</a>
                <a href="#" class="btn btn-lg btn-outline-primary">Người Đăng Ký</a>
            </div>
            <div class="text-box">
                <h3 class="text-box__heading">Ủy ban nhân dân phường<br>HUTECH</h3>
                <div class="text-box__group">
                    <p class="text-box__paragraph"><i class="fas fa-clock"></i> Giờ làm việc:</p>
                    <p class="text-box__paragraph">Buổi sáng: 7h30 &dash; 11h30</p>
                    <p class="text-box__paragraph">Buổi sáng: 13h30 &dash; 17h30</p>
                </div>
                <div class="text-box__group">
                    <p class="text-box__paragraph"><i class="fas fa-phone"></i> Điện thoại:</p>
                    <p class="text-box__paragraph">01223727680</p>
                </div>
                <div class="text-box__group">
                    <p class="text-box__paragraph"><i class="fas fa-address-book"></i> Địa chỉ:</p>
                    <p class="text-box__paragraph">475A Điện Biên Phủ</p>
                </div>
            </div>
        </div>
    </header>



    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>