<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/regis-form.css">
    <title>Resident Management</title>
</head>
<body class="bg-light">
    <div class="container">
        <h1 class="text-uppercase font-weight-bold text-muted mb-3 mt-5">account registration</h1>
        <form class="border border-dark p-4" action="#" method="POST" class="form__signout">
            <div class="row">
                <div class="contact-info col-6">
                    <h4 class="text-uppercase font-weight-bold text-muted mb-4">contact</h4>
                    <div class="form-group">
                        <label class="form-label text-right mr-4" for="name">Name</label>
                        <input class="form-control form-control-lg" id="name" type="text" placeholder="Required" name="name" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label text-right mr-4 text-right mr-4" for="birthdate">Birthdate</label>
                        <input class="form-control" id="birthdate" type="date" name="birthdate" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label text-right mr-4" for="birthplace">Birthplace</label>
                        <input class="form-control" id="birthplace" type="text" name="birthplace" placeholder="Required" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label text-right mr-4" for="hometown">Home town</label>
                        <input class="form-control" id="hometown" type="text" name="hometown" placeholder="Required" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label text-right mr-4" for="address">Address</label>
                        <input class="form-control" id="address" type="text" placeholder="Required" name="address" required>
                    </div>
                </div>
        
                <div class="security-info col-6">
                    <h4 class="text-uppercase font-weight-bold text-muted mb-4">security</h4>
                    <div class="form-group">
                        <label class="form-label text-right mr-4" class="d-inline-block" for="username">Username</label>
                        <input class="form-control" id="username" type="text" placeholder="Required" name="username" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label text-right mr-4" for="password">Password</label>
                        <input class="form-control" id="password" type="password" placeholder="Required" name="password" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label text-right mr-4" for="password">Confirm password</label>
                        <input class="form-control" id="passwordconfirm" type="password" placeholder="Required" name="passwordconfirm" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label text-right mr-4" for="password">Security question</label>
                        <input class="form-control" id="passwordconfirm" type="password" placeholder="Required" name="passwordconfirm" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-lg btn-success" value="Submit">
                    </div>
                </div>
            </div>
        </form>
    </div>

    





    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>